@charset "utf-8";

*{
    box-sizing:border-box;
    padding: 0;
}
body {
    font-size: 0;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.topNav {
    background-color: #fff9d2;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.topNav a{
    text-decoration: none;
    color: #282c4c;
}
.topNav a:hover {
    color: #f45700;
}

#main {
    overflow: hidden;
}

.logo {
    font-size: 20px;
    padding: 0 0px 0px 10px;    
}

.nav-center {
    display: flex;
    list-style: none;
    padding-left: 0px;
}

.nav-center li {
    padding: 5px 10px 3px 10px;
}

.sns {
    display: flex;
    list-style: none;
    padding-left: 0px;
}

.sns li {
    padding: 5px 5px 3px 10px;
}

.active, .dot:hover {
    background-color: #fff9d2; 
}

.slideNav {
    height: 900px;
    overflow: hidden;
}

.slideNav ul,li {
    list-style: none;
}

.slideNav ul {
    margin:0%;
    height: 100%;
}

.slideNav li {
    height: 100%;
}

.slideNav li:nth-child(1) {
    background-image: url('./images/main9.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.slideNav li:nth-child(2) {
    background-image: url('./images/main1.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.slideNav li:nth-child(3) {
    background-image:url('./images/main6.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.row {
    display: flex;
    padding: 18px 10px 10px 10px;
    background-color: #fcf8ec;
}
.column {
    flex: 50%;
}

.left {
    height: 450px;
    font-size: 120px;
    padding: 80px 0 0 10%;
    color: #f45700;
}

.right {
    max-height: 450px;
    display: flex;
}

.left > span {
    margin: 0;
    position: relative;
    font-family: 'Lobster', cursive;
}

.spana::after {
    content: "";
    display: inline-block;
    height: 6px;
    position: absolute;
    right: 0px;
    bottom: 2px;
    left:1px;
    background: #f45700;
}

.spanb {
    padding-left: 220px;
}

.spanb::after {
    content: "";
    display: inline-block;
    height: 6px;
    position: absolute;
    right: 0px;
    bottom: 2px;
    left:220px;
    background: #f45700;
}

.in-left {
    padding-top: 40px;
    flex: 50%;
    margin-right: 20px;
}


.in-right {
    flex: 50%;
    padding-top: 110px;
}

.in-right > p, .sp {
    font-size: 18px;
}
.uni {
    display: inline-block;
    padding-top: 50px;
    font-size: 15px;
}


.p-header {
 font-size: 40px !important;
 margin: 0px;
}

.t-item {
    font-size :40px;
    text-align: center;
    padding: 50px 0 30px 0;
}

.item-row {
    display: block;
    padding-bottom: 10px;
    overflow: hidden;
}

.item-row > div.item-column {
    float: left;
    position: relative;
    width: 20%;
    margin: 0 0 0 4.2%;
    padding: 0 0 100px;
    text-align: left;
}
.item-row::after {
    content: "";
    clear: both;
    display: table;
}
.thum {
    position: relative;
}

.div.item-column > .thumWrap {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    display: block;
}

.imageWrap {
    display: block;
    overflow: hidden;
}

div.item-column .in-card {
    width: 100%;
    vertical-align: top;  
    height:350px; 
    transition: 0.5s;     
}

.item-wrap {
    width: 100%;
    margin: 0 auto;
    max-width: 1400px;
    min-width: 1150px;
    overflow: hidden;
}

.in-card:hover {    
    cursor: pointer;
    opacity: 0.9;
    transform: translateY(-5px);
}

    .back1 {
        margin-top: 100px;
        position: relative;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('./images/jj.png');
        min-height: 500px;
    }

    .caption {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        text-align: center;
        color: rgba(247, 240, 240, 0.8);
        font-size: 38px;
    }

    .caption span.border {
        padding: 18px;
        letter-spacing: 10px;
    }

    .des {
        flex: 25%;
        font-size: 13px;
        padding: 0 15px 0 5px;
        margin-left: 5px;
    }

    .title {
        flex: 25%;
        font-size: 15px;
        padding: 15px 10px 0 5px;
        margin: 5px;
       
    }

    .linehr {
        border-color: rgba(0,0,0,0.2);
    }

     .price {
        flex: 25%;
        font-size: 13px;
        padding: 0 10px 0 5px;
        margin: 5px;
    }

    .text-info {
        width: 35%;
        padding: 70px 10px 40px 90px;
        display: inline-block;
        font-size: 13px;
        overflow: hidden;
    }

    .bank-info {
        width: 35%;
        padding: 70px 0px 40px 90px;
        display: inline-block;
        overflow: hidden;
        font-size: 13px;
    }

    .return {
        text-align: right;
        width: 30%;
        padding: 50px 110px 40px 0px;
        display: inline-block;
        overflow: hidden;
        font-size: 13px;
    }

    .footer {
        height: 200px;
        background-color:  #fcf8ec;
        font-size: 13px;
    }

    .footer > .ul1 >li {
        list-style: none;
        display: inline-block;
        word-wrap: break-word;
        padding: 30px 0px 0 10px;
    }

    .tspan {
        font-size: 15px;
    }

    .tp {
        font-size: 20px;
    }
    .footer > .ul1 {
        padding: 50px 0px 15px 70px;
    }
    .footer > li,a {
        text-decoration: none;
        color: rgb(100, 100, 100);
        text-align: right;
    }

    .infos > .ul2 {
        padding:0 0 10px 80px;
        margin: 0;
    }

    .infos > .ul3 {
        padding-left: 80px;
        margin:0;
    }

    .infos > .ul2,li {
        display: inline-block;
        color: rgb(100, 100, 100);
    }

    .container {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
    }
    
    .bar1, .bar2, .bar3 {
        width: 22px;
        background-color: #f45700;
        height: 3px;
        margin: 4px 0;
    }

    .bar3 {
        margin: 0 0 9px 0;
    }
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-2px, 2px);
        transform: rotate(-45deg) translate(-2px, 2px);
        margin: 0 0 1px 0;
    }
    
    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
        margin: 0 0 1px 0;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #efe9c2;
        overflow-x: hidden;
        padding-top: 60px;
    }

    #mySidenav > a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px; 
        color: black;
        display: block;
        transition: 0.3s;
        text-align: start;
    }

    #mySidenav > a:hover {
        color:  #f45700; 
    }

    #mySidenav > .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }


@media screen and (max-width: 600px) {

    .topNav {
        display: block;
        text-align: center;
    }
    .nav-center {
        display: block;
        text-align: center;
        padding: 5px 0 5px 0;
    }
    .sns {
       padding-left: 46%;   
    }
    .sns li {
        padding: 0 5px 0 0;
    }
}



@media screen and (max-width: 1220px) {

.p-header {
    font-size: 19px !important;
}

.in-right > p {
    font-size: 15px;
}
.left {
    height: 450px;
    font-size: 80px;
    padding: 80px 0 0 10%;
    color: #f45700;
}
.spanb {
    padding-left: 130px;
}

.spanb::after {
    content: "";
    display: inline-block;
    height: 6px;
    position: absolute;
    right: 0px;
    bottom: 2px;
    left:130px;
    background: #f45700;
}
}

@media screen and (max-width: 890px) {


    .right {
        display: block;
        overflow-x: hidden;
    }
    .images {
        margin-top: 35px;
        width: 300px;
        
    }
    
    .in-left {
        padding-left: 10px;
        padding-top: 10px;
        margin-right: 20px;
        overflow: hidden;
    }
    
    
    .in-right {
        padding-top: 20px;
        padding-left: 10px;
    }
    
    .in-right > p,.sp {
        font-size: 12px;

    }
    .uni {
        display: block;
        font-size: 11px;
        padding-top: 10px;
    }
    
    .p-header {
        font-size: 15px !important;
        margin: 0px;
       }
}

@media screen and (max-width: 500px) {

    .topNav {
        display: block;
        text-align: center;
    }

    .slideNav {
        width: 500px;
        height: 500px;
        overflow: hidden;
    }

    .slideNav ul {
    margin:0%;
    height: 100%;
}

.slideNav li {
    height: 100%;
}

.slideNav li:nth-child(1) {
    background-image: url('./images/main1m.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.slideNav li:nth-child(2) {
    background-image: url('./images/main2m.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.slideNav li:nth-child(3) {
    background-image:url('./images/main3m.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.row {
    min-width: 500px;
    display: flex;
    width: 100%;
}

.column {
    flex: 50%;
}

.left {
    height: 300px;
    font-size: 50px;
    padding: 80px 0 0 5%;
    color: #f45700;
}

.right {
    max-height: 300px;
    display: block;
}

.left > span {
    margin: 0;
    position: relative;
    font-family: 'Lobster', cursive;
}

.spana::after {
    content: "";
    display: inline-block;
    height: 6px;
    position: absolute;
    right: 0px;
    bottom: 2px;
    left:1px;
    background: #f45700;
}

.spanb {
    padding-left: 80px;
}

.spanb::after {
    content: "";
    display: inline-block;
    height: 6px;
    position: absolute;
    right: 0px;
    bottom: 2px;
    left:80px;
    background: #f45700;
}

.images {
    width: 200px;
    height: 180px;
    overflow: hidden;
}

.in-left {
    padding-top: 10px;
    margin-right: 20px;
}


.in-right {
    padding-top: 10px;
}

.in-right > p,.sp {
    font-size: 12px;
    margin: 0px;
}
.uni {
    display: block;
    font-size: 11px;
    padding: 0px;
}

.p-header {
    font-size: 15px !important;
    margin: 0px;
   }

   .t-item {
    font-size :25px;
    text-align: center;
    padding: 30px 0 30px 0;
}


    .item-row {
        display: block;
        overflow: hidden;
        padding-bottom: 0px;
    }
    
    .item-row > div.item-column {
        display: inline-block;
        position: relative;
        width: 44%;
        margin: 0 0 0 3%;
        padding: 0 0 20px;
        text-align: left;
    }
    
    
    div.item-column .in-card {
        width: 100%;
        overflow: hidden;
        /* object-fit: fill; */
        height: 250px;
        transition: all 0.5s;     
            
    }
    
    .item-wrap {
        width: 100%;
        margin: 0 auto;
        max-width: 500px;
        min-width: 500px;
    }
    
    .in-card:hover {    
        cursor: pointer;
        opacity: 0.9;
        transform: translateY(-5px);
    }

    .des {
        font-size: 10px;
        padding: 0 15px 0 5px;
        margin-left: 5px;
    }

    .title {
        font-size: 11px;
        padding: 15px 10px 0 5px;
        margin: 5px;
       
    }

    .linehr {
        border-color: rgba(0,0,0,0.2);
    }

    .price {
        font-size: 10px;
        padding: 0 10px 0 5px;
        margin: 5px;
    }

    .back1 {
        margin-top: 50px;
        display:flex;
        position: relative;
        width: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('./images/jj.png');
        min-height: 300px;
        min-width: 500px;
    }

    .infomation {
        width: 450px;
        display: flex;
    }
 .text-info {
        flex: 30%;
        padding: 80px 10px 40px 50px;
        font-size: 10px;
        overflow: hidden;
    }

    .bank-info {
        flex: 30%;
        padding: 70px 20px 40px 40px;
        overflow: hidden;
        font-size: 10px;
    }

    .return {
        flex: 30%;
        padding: 70px 30px 40px 30px;
        overflow: hidden;
        font-size: 10px;
    }

    .tspan {
        font-size: 12px;
    }

    .tp {
        font-size: 10px;
    }

    .footer {
        height: 200px;
        min-width: 500px;
        background-color: #fcf8ec;
        font-size: 8px;
    }

    .footer > .ul1 >li {
        list-style: none;
        display: inline-block;
        word-wrap: break-word;
        padding: 30px 0px 0 10px;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        background-color: #efe9c2;
        overflow-x: hidden;
        padding-top: 60px;
    }


    #mySidenav > a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 15px; 
        color: black;
        display: block;
        transition: 0.3s;
        text-align: start;
    }

} 